# CityBikes

In [1]:
# Import necessary libraries
import os # use this to access your environment variables
import requests # use this to call the APIs
import pandas as pd # use this to create dataframe
import json # use this to save API output to JSON file

Send a request to CityBikes for the city of your choice.

In [2]:
# Picked the city of Toronto as my location
location = 'toronto'
# Set the URL
url = f'http://api.citybik.es/v2/networks/{location}'
# Create dictionary for headers. Note: the CityBikes API does not require an API key
headers = {
    'Accept': 'application/json'
}

In [3]:
# Send the GET request
response = requests.get(url, headers=headers)
# Check the response, if it was successful covert it to JSON
if response.status_code == 200:
    response_json = response.json()
else:
    print("Error:", response.status_code)

In [ ]:
# Review the JSON response and parse the data accordingly.
# Note: the output is not displayed in order to keep notebook clean
print(response_json)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [5]:
# Create empty lists to store parsed data prior to creating a dataframe
station_name = [] 
latitude = []
longitude = []
number_of_bikes = []

# Create function that parses data into empty lists above
for each_station in response_json['network']['stations']:
    station_name.append(each_station['name'])
    latitude.append(each_station['latitude'])
    longitude.append(each_station['longitude'])
    number_of_bikes.append(each_station['free_bikes'])

Put your parsed results into a DataFrame.

In [6]:
# Create a dictionary for the dataframe using the lists created for each variable above
bike_stations_dict = {'Station Name': station_name, 'Latitude': latitude, 'Longitude': longitude, 'Number of Bikes': number_of_bikes}
# Create a dataframe 
bike_stations_df = pd.DataFrame(bike_stations_dict)
bike_stations_df.head(2)

                  Station Name   Latitude  Longitude  Number of Bikes
0    Queen St E / Woodward Ave  43.665269 -79.319796               12
1  Primrose Ave / Davenport Rd  43.671420 -79.445947                3

In [7]:
# Store dataframe in excel file for assignments
bike_stations_df.to_csv('data/city_bikes_data.csv', index=False)